<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment :: head">
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>
<main>
    <section>
        <h1>About Us</h1>
        <p id="PPp">
            We are a group of IT College Students that love listening to music and learning foreign languages. <br><br>
            As you know there are many songs streaming websites on the internet but most of them contain a lot of annoying ads
            (popup, popunder ad, ..) and there are malware, viruses. <br>
            That's why we make this project, using our knowledge about IT we develope iSongs with the final goal to bring you a safe place with
            happiness when enjoying songs, we also help you improve your language skill with several subtitle features. <br>
        </p>
        <p id="PPp">
            <b>Some rules of the website:</b>
        </p>
        <ul id="AUul">
            <li>
                There are students and childrens listening to music on the site so please mind your words, be polite in comments. <br>
            </li>
            <li>
                Racist is totally not accepted
            </li>
            <li>
                If you are seeing ads that contain nudity or sensity images, please take a screenshot and report to us
            </li>
        </ul>


    </section>
</main>
</body>
<script th:replace="fragments/fragment :: script"></script>

</html>