<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment :: head">
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>

<main>
    <section id="top_movies" class="clearfix">

        <div class="wrapper">
            <header>
                <a href="/home">#Random</a>
            </header>

            <div class="row" id="moviesList">
                <!-- Start single movie -->
                <div th:each="s : ${allSongs}" th:object="${s}" class="post">
                    <img class="movie-home-images" th:source="*{imageUrl}" th:alt="*{name}" >
                    <a class="movie-name" th:href="@{/songs/song-page-details/{id}(id = *{id})}" th:text="*{name}" ></a>
                </div>
                <!-- EO: Start single movie -->
            </div>
        </div>


    </section>
</main>
</body>

<script th:replace="fragments/fragment :: script"></script>

</html>